h1 {
  font-family: 'Montez', cursive;
  font-size: 230px;
  line-height: 270px;
  margin:30px;
  color: rgb(91, 77, 6);
}

.back{
  background-color: rgba(0, 0, 0, 0.46);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

#menu{
  position: absolute;
  top:300px;
  left:130px;
  width: 300px;
  font-size: 40px;
  color:rgb(207, 204, 178);
}

#content{
  position:absolute;
  top:150px;
  left:600px;
  right: 200px;
  font-size: 25px;
  line-height: 140%;
  color:rgb(207, 204, 178);

}

body{
  background-color: rgb(28, 28, 27);
  background-image: url(https://assets.vogue.com/photos/5a611a4a77913e1576dad2ff/master/pass/00-story-image-best-chinese-food-in-new-york.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  color:white;
  background-position: 0px -200px;
}
